/* VARIABLES  */
:root {
  --theme-color-yellow: rgb(245, 240, 187);
  --theme-color-green: rgb(196, 223, 170);
  --theme-color-teal: rgb(144, 200, 172);
  --theme-color-blue: rgb(115, 169, 173);
}

/* GLOBAL RESETS */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

img {
  max-height: 250px;
  margin: 0 auto;
}

/* CUSTOM STYLES */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.text-center {
  text-align: center;
}

.nav-wrapper{
  background-color: var(--theme-color-yellow);
}

.btn:hover {
  border-style:solid;
  border-width: 1px;
  box-shadow: 10px 10px var(--theme-color-teal); 
  border-radius: 50%;
  }

.logo {
  margin-left: 10px;
  height: 60px;
  width: 60px;
  z-index: -1;
  border-style: groove;
  border-radius: 50%;
  border-color: rgb(115, 169, 173);
}

#go-home{
  display:fixed;
  margin-left: 80px;
  width: 65%;
}

.page-footer {
  background-color: var(--theme-color-yellow);
  margin: 0 auto;
  width: 100%;
} 

.copy-sign {
  margin: 0 auto;
  color: rgb(115, 169, 173);
  font-weight: 600;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.0);
}

.modal-card-head {
  background-color: var(--theme-color-yellow);
}

.modal-card-body {
  background-color: var(--theme-color-green);
}

.modal-card-foot {
  background-color: var(--theme-color-teal);
}

.modal-background {
  display: none;
}

.modal-content {
  width: 100%;
  height: 100%
}

.modal-inner {
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
}

.close-Modal-Button {
  border-style: none;
  border-radius: 15px;
  border-width: 4px;
  border-color: var(--theme-color-teal);
  background-color: var(--theme-color-yellow);
  margin-left: 40%;
  width: 100px;
  height: 25px;
  cursor: pointer;
  font-family: sans-serif;
}

.hide {
  display: none;
}

#favorite-section {
  min-height: 100vh;
  margin-bottom: 0;
}

.favorite-details {
  max-height: 500px;
}

.fav-heading {
  text-align: center;
}

#hero {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.5)), url("../images/pexels-photo-172510.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#hero .blurb {
  color: var(--theme-color-blue);
  background-image: radial-gradient(circle, rgba(131, 131, 131, 0.6), rgba(130, 130, 130, 0)); 
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 500px;
}

.bg-yellow {
  background-color: var(--theme-color-yellow);
}

.bg-green {
  background-color: var(--theme-color-green);
}

.bg-teal {
  background-color: var(--theme-color-teal);
}

.bg-blue {
  background-color: var(--theme-color-blue);
}

.modal-close {
  background-color: var(--theme-color-blue);
  margin: auto;
  margin-top: 180px;
  padding: 20px;
}

#hero h3 {
  font-size: 140%;
  font-weight: bold;
}

#hero h2 {
  padding-top: 40px;
  text-align: center;
  color: var(--theme-color-teal);
  font-size: 200%;
  font-weight: bold;
}

.location-input {
  color: var(--theme-color-yellow);
}

#find-trail {
  border-style: outset;
  border-radius: 5px;
  border-color: var(--theme-color-yellow);
  background-color: var(--theme-color-blue);
  height: min-content;
}

#map {
  margin: 0 auto;
  min-height: 600px;
  max-width: 600px;
}

.infoWindow {
  display: flex;
  flex-direction: column;
}

.address {
  margin: 10px auto -12px auto;
}

.hikeBtn {
  background-color: var(--theme-color-yellow);
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  padding: 6px 16px;
  margin: 0 0 4px 0;
}

.hikeBtn:hover {
  background-color: var(--theme-color-green);
}

.hikeBtn:active {
  background-color: var(--theme-color-teal);
}

.favoriteBtn {
  border-style: none;
  border-style: outset;
  border-radius: 15px;
  border-width: 4px;
  border-color: var(--theme-color-yellow);
  background-color: var(--theme-color-blue);
  width: 115px;
  height: 25px;
  margin-top: 10px;
  cursor: pointer;
  font-family: sans-serif;
}
