/* VARIABLES */
:root {
  --theme-color-yellow: rgb(245, 240, 187);
  --theme-color-green: rgb(196, 223, 170);
  --theme-color-teal: rgb(144, 200, 172);
  --theme-color-blue: rgb(115, 169, 173);
}

/* GLOBAL RESETS */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

img {
  max-height: 250px;
  margin: 0 auto;
}

/* CUSTOM CLASSES */
#map {
  height: 500px;
  width: 500px;
}

.infoWindow {
  display: flex;
  flex-direction: column;
}

.address {
  margin: 10px auto -12px auto;
}

.hikeBtn {
  background-color: var(--theme-color-yellow);
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  padding: 6px 16px;
  margin: 0 0 4px 0;
}

.hikeBtn:hover {
  background-color: var(--theme-color-green);
}

.hikeBtn:active {
  background-color: var(--theme-color-teal);
}